/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */

div.article-tile {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    
    img.article-tile-image {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media(max-width:768px) {
    div.article-tile {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        
        .col-xs-6 {
            margin: 0px;
            padding: 0px 10px 0px 0px;
        }
        
        img.article-tile-image {
            margin: 0px;
            padding-right: 0px;
        }
    }
}

@media(max-width:500px) {
    div.article-tile {
        color: red;
        p.article-tile-description {
            display: none;
        }
    }
}

// .row {
//     display: table;
// }

// .row [class*="col-"] {
//     float: none;
//     display: table-cell;
//     vertical-align: top;
// }