/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  padding: 0px;
  margin: 0px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */

div.article-video, div.article-featured-image {
    background-color: rgba(30, 30, 30, 1);
    color: white;
    
    div.article-video-frame, div.article-featured-image-frame {
        margin: auto;
    }
    div.article-video-description, div.article-featured-image-description{
        margin: 10px 0px;
    }
}

div.article-content {
    margin: 10px 0px;
}



    .caption {
        width:100%;
        bottom: .3rem;
        position: absolute;
        background-color: rgba(30, 30, 30, 1);
        color: white;
    }

    .thumbnail {
        border: 0 none;
        box-shadow: none;
        margin:0;
        padding:0;
    }